<nav>
    <a class="userName" title="{{userEmail}}">{{name}}</a>
    <a (click)="onLogout()">Logout</a>
  </nav>
  
  <div class="main">
    <div class="main-body">
      <div class="nav-bar">
        <ul class="nav nav-tabs">
          <li
            routerLink="quizlist"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a>Quiz List</a>
          </li>
          
        </ul>
      </div>
      <div class="outlet">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>