@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$background: #191919;
$redBorder: rgb(255, 0, 0);
$onHover: rgb(87, 177, 45);
$onActive: rgb(72, 148, 37);
$disabled: rgb(106, 110, 107);

// fonts
$font-family: "Montserrat", sans-serif;
