//colors
$codGray: #191919;
$red: #ff0000;
$apple: #57b12d;
$fruitSalad: #48944d;
$corduroy: #6a6e6b;
$powderAsh: #bbc9be;
$bayLeaf: #879e84e6;
$grannySmithApple: #a5e79e;
$alto: #dfdfdf;
$prairieSand: #973c21;

// fonts
$font-family: Futura, Arial, Helvetica, sans-serif;
