@import "src/styles/variables";

.main-header {
  height: 70px;
  display: flex;
  align-content: center;
  min-height: fit-content;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #191919;
  border-bottom: 0.3px solid $corduroy;

  .logo {
    font-family: $font-family;
    color: #f0e9d7;
    font-size: 24px;
    font-weight: 700;
    margin-left: 30px;
    cursor: pointer;
  }

  .logo:focus {
    outline: none;
  }
}
